.button-store {
 display: inline-block;
 box-sizing: border-box;
 font-size: 20px;
 color: #fff;
 background-color: #252c41;
 font-family: Arial, "Roboto", sans-serif;
 width: 200px;
 height: 60px;
 text-align: center;
 line-height: 60px;
 text-decoration: none;
 margin-right: 0;
 border: none;
 transition: all 300ms linear;
}

.button-store:hover {
 cursor: pointer;
 background-color: #fff;
 color: #252c41;
 transform: scale(1.1);
}

.button-store.-second:hover {
 cursor: pointer;
 background-color: #fff;
 color: red;
}

.button-store.-second {
 background-color: transparent;
 border: 2px solid #fff;
 line-height: 56px;
 width: 218px;
 margin-right: 38px;
 }
 
 .button-store > button,
 .button-store > a {
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: inherit;
 }