.container-store {
 background-color: #e24647;
 position: absolute;
 padding: 55px 60px 165px 0;
 top: 50%;
 left: 50%;
 width: 80%;
 transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 1470px), (max-height: 952px) {
 .container-store {
  position: static;
  transform: none;
  width: 100%;
  max-width: 100%;
 }
}

@media (max-width: 1310px) {
 .container-store {
  padding-right: 0;
 }
}

@media (max-width: 955px) {
 .container-store {
  padding-right: 30px;
 }
}

@media (max-height: 952px) {
 .container-store {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media (max-width: 375px) {
 .container-store {
  padding-right: 16px;
 }
}

