.description-product {
 font-family: "Roboto", sans-serif;
 color: #fff;
 display: inline-block;
 width: 554px;
}

.description-product > .title {
 font-size: 25px;
 margin-bottom: 100px;

}

.description-product > .item {
 font-size: 20px;
 margin-bottom: 28px;
}

.description-product > .item.-info {
 width: 300px;
 font-size: 20px;
 text-align: right;
}

.description-product > .item.-last {
 margin-bottom: 78px;
}

.description-product .contrast {
 text-transform: uppercase;
 float: left;
}

.description-product > .text {
 font-size: 18px;
 line-height: 30px;
 margin-bottom: 30px;
}

.description-product .action {
 color: inherit;
 text-decoration: none;
}
