.header-store {
 background-color:#e24647;
 color: #fff;
 overflow: hidden;
 margin-top: 55px;
 padding-left: 60px;
 vertical-align: middle;
}     

.header-store > .title {
 text-decoration: none;
 font-size: 40px;
 font-family: ArialMT, sans-serif;
 float: left;
 text-transform: uppercase;
 margin-bottom: 138px;
}

.header-store > .navigation {
 font-size: 21px;
 font-family: SegoeUI, sans-serif;
 color: #fff;
 float: right;
}

.header-store [type="search"] {
 background: transparent;
 border: none;
 border-bottom: 1px solid #fff;
 color: #fff;
 font-family: Arial, sans-serif;
 font-size: 20px;
 padding: 8px;
 width: 358px;
 margin-right: 65px;
}

.header-store .action {
 color: inherit;
 text-decoration: none;
 margin-right: 60px;
}

.header-store .action.-last {
 margin-right: 0;
} 