.input-search {
 display: inline-block;
}

.input-search > .content {
 background: transparent;
 border: none;
 border-bottom: 1px solid #fff;
 color: #fff;
 font-family: Arial, sans-serif;
 font-size: 20px;
 padding: 8px;
 width: 358px;
 margin-right: 65px;
 vertical-align: bottom;
}

.input-search > .content::placeholder {
 color: inherit;
}

.input-search > .icon {
 display: none;
}

@media (max-width: 970px){
 .input-search {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-88%);
  transition: transform 200ms linear;
 }

 .input-search.-active {
  transition: transform 200ms linear;
  transform: translateX(0);
 }

 .input-search > .content{
  background-color: #fff;
  color: black;
  margin-right: 0;
  vertical-align: middle;
 }

 .input-search > .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-bottom-right-radius: 15px;
  padding: 8px;
  vertical-align: middle;
  background-color: #fff;
 }
} 